@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(slider.css);
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

header {
  max-width: 1140px;
  margin: auto; }
  header div {
    margin: 27px 20px; }
    header div a {
      text-decoration: none;
      position: relative; }
      header div a img {
        float: left; }
    header div form button {
      border: none;
      background: none;
      list-style-type: none;
      text-transform: uppercase;
      margin-right: 4.6%;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      color: #777;
      line-height: 35px;
      float: right; }
      header div form button:hover {
        text-shadow: 0.1px 0 black; }
    header div nav ul li {
      list-style-type: none;
      text-transform: uppercase;
      margin-right: 4.6%;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      color: #777;
      line-height: 35px;
      float: right; }
      header div nav ul li a:before {
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 20px;
        background-color: #06060a;
        left: -30px;
        top: 8px;
        visibility: hidden; }
      header div nav ul li a:hover {
        text-shadow: 0.1px 0 black; }
      header div nav ul li a:hover:before {
        visibility: visible; }
    header div:after {
      content: '';
      clear: both;
      display: block; }

.slider {
  position: relative; }
  .slider h1 {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-35%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    background-color: black;
    z-index: 1;
    line-height: 56px;
    padding: 0 70px;
    font-family: 'Roboto';
    font-weight: lighter;
    letter-spacing: 7px; }
  .slider h2 {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-45%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 7px; }

.bottom_menu {
  max-width: 1140px;
  margin: auto;
  border-top: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 30px; }
  .bottom_menu ul {
    display: flex;
    justify-content: center; }
    .bottom_menu ul li {
      list-style-type: none;
      text-transform: uppercase;
      margin-right: 4.6%;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      color: #777;
      line-height: 35px;
      margin-right: 3%; }
      .bottom_menu ul li a {
        line-height: 59px;
        text-decoration: none;
        display: block; }
        .bottom_menu ul li a:before {
          content: '';
          background-image: url(../images/line.png);
          padding: 5px 20px 0 0;
          background-repeat: no-repeat; }
      .bottom_menu ul li:hover {
        text-shadow: 0.1px 0 black; }
      .bottom_menu ul li:hover a:before {
        visibility: hidden; }

.container {
  margin: auto;
  max-width: 1140px; }

.home div:first-of-type {
  display: flex;
  flex-direction: row; }
  .home div:first-of-type div:nth-child(1) {
    display: flex;
    flex-direction: column; }
    .home div:first-of-type div:nth-child(1) a {
      margin-bottom: 33px; }
  .home div:first-of-type div:nth-child(2) {
    display: flex;
    margin: 0 30px;
    flex-direction: column; }
    .home div:first-of-type div:nth-child(2) a {
      margin-bottom: 33px; }
  .home div:first-of-type div:nth-child(3) {
    display: flex;
    flex-direction: column; }
    .home div:first-of-type div:nth-child(3) a {
      margin-bottom: 33px; }
.home .home_bottom {
  text-align: center; }
  .home .home_bottom a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #959595;
    padding: 0 24px;
    line-height: 30px; }

footer {
  margin: auto;
  max-width: 1140px;
  text-align: center;
  color: #777; }
  footer div:nth-child(1) {
    margin: 64px 0 0; }
  footer div:nth-child(2) {
    margin: 45px 0 37px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0; }
    footer div:nth-child(2) a {
      margin-right: 57px;
      font-size: 14px;
      line-height: 60px; }
  footer div:nth-child(3) {
    margin-bottom: 46px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase; }
    footer div:nth-child(3) span {
      color: black; }

.about_img_top {
  max-width: 100%;
  text-align: center;
  margin-bottom: 71px; }

.about div:nth-child(1) {
  display: flex;
  flex-direction: row; }
  .about div:nth-child(1) img {
    margin-right: 53px; }
  .about div:nth-child(1) div {
    font-family: 'Roboto', sans-serif; }
    .about div:nth-child(1) div p {
      line-height: 30px;
      font-size: 14px;
      margin-bottom: 28px;
      color: #777; }
    .about div:nth-child(1) div h2 {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 35px;
      letter-spacing: 7px;
      color: #777; }
    .about div:nth-child(1) div h3 {
      font-size: 16px;
      font-weight: 700;
      color: #777;
      margin-bottom: 15px; }

#custom-handle {
  border-radius: 15px;
  background-color: white;
  border: 4px solid black; }

#custom-handle .procent {
  position: absolute;
  top: -35px;
  background-color: black;
  font-size: 12px;
  padding: 6px 10px; }

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  background-color: #ebebeb; }

.ui-slider .ui-slider-handle {
  width: 5px;
  height: 5px; }

.ui-slider-horizontal .ui-slider-handle {
  top: 0;
  margin-left: 0; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  color: white; }

/*# sourceMappingURL=style_preproc.css.map */
